<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.springbootjwt.mapper.UserMapper">
    <select id="selectByName" parameterType="java.lang.String" resultType="com.lz.springbootjwt.model.User">
      select * from user where userName = #{userName}
    </select>

    <select id="findUserById" parameterType="int" resultType="com.lz.springbootjwt.model.User">
        select * from user where userId = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.lz.springbootjwt.model.RegisterVo">
        insert into user(userName,password) values (#{userName},#{password})
    </insert>
</mapper>